@{
    ViewData["Title"] = "Intro Page";
}

@section DemoSection {
    <div>
        <h3><center>Kamaljit Kaur</center></h3>
    </div>
    <center>
    <div>
        <p>This is a paragraph</p>
    </div>
        
    <div>
        <form method="post">
            <div>
                <label for = "number1">Number 1</label>
                <input type = "number" id = "number1" name = "number1" />
            </div>

            <div>
                <label for = "number2">Number 2</label>
                <input type = "number" id = "number2" name = "number2" />
            </div>

            <div>
               <label for = "output">Result</label>
               <output id = "output" name = "output"></output>
            </div>

            <div>
                <button type = "submit">Submit</button>
            </div>
            
        </form>
    </div>   
     
    </center>
}