<!-- Intro.cshtml -->
@{
    ViewData["Title"] = "Introduction";
}

@section IntroSection
{
<div>
    <h3 style="background-color:lightblue;text-align:center">
       
        Kamaljit Kaur
           
    </h3>
</div>
<center>
<div>
    <p>This is introduction page</p>
    </div>
<div>
    <form method="post">
        <label for="input1">Input 1:</label>
        <input type="number" id="input1" name="input1" required>
        <br>
       
        <label for="input2">Input 2:</label>
        <input type="number" id="input2" name="input2" required>
        <br>
        <label for="output">Output:</label>
        <output id="output" name="output"></output>
        <br>
        <input type="submit" value="Submit">
    </form>

</div>
    </center>

}